<html>
  <head>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" href="./chunkfive.css" type="text/css" />
    <title>pix.mathieui.net - {{ title }}</title>
  </head>
  <body>
    <div id="wrap">
      <h1><img style="width:55px" src="https://pix.mathieui.net/o/GinOD.png"/> pix – {{ title }}</h1>
      <div id="header">
        <a href="/">Home</a> — <a href="/about">About</a>
      </div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
